/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require foundation_and_overrides
 *= require_tree .
 *= require_self

 */

html, body {
  margin: 0px;
  padding: 0px;
}

a {
  color: white;
  text-decoration: underline;
}

.formBackDrop {
  background-color: #333333;
  margin: 0 auto;
  padding: 1px 20px 1px 20px;
  max-width: 400px;
  border: 0px solid black;
  border-radius: 6px;
  box-shadow: 0px 0px 2px 0px black
}

label {
  max-width: 400px;
}

input.field {
  border-radius: 3px;
  margin-bottom: 5
}

button.field {
  border-radius: 3px;
  margin: 1rem 0rem 1rem 0rem;
}

label.photoDrop {
  margin: 0 auto;
}

.dropzoneStyle {
  margin: 0 auto;
  padding: 82px 0px 0px 0px;
  height: 200px;
  width: 200px;
  color: white;
  background-color: rgb(100, 30, 30);
  border-width: 2px;
  border-color: rgb(102, 102, 102);
  border-style: dashed;
  border-radius: 5px;
}

.listItem a {
  height: 45px;
}

.inputField {
  margin: 0 auto;
}

.react {
  height: 100%;
}

.tab-bar {
  border: 1px solid #1A1A1A;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

section.menuIcon.small-3.columns {
  padding-left: 0px;
}

section.title.small-6.columns {
  text-align: center;
}

section.userLogin.small-3.columns {
  padding-right: 0px;
}

a.signLink {
  padding: 0px;
  text-align: center;
  text-decoration: none;
}

div.signLink {
  padding: 0px;
  text-align: center;
  text-decoration: none;
}

.main-nav {
  height: 100%;
}

.navigation-bar {
  height: 100%;
}

.main-section {
  text-align: center;
  margin: 0px;
  padding: 30px;
  padding-top: 10px;
  height: 100%;
  color: white;
  background-color: rgb(100, 30, 30);
}

/* .photoDrop {
  text-align: center;
} */

.signHeader {
  color: white;
}




label.inputField {
  padding-top: 20px;
}

.raceClassTitle {
  margin: 0px;
}

.raceClassList {
  display: table;
  border-spacing: 5px;
  margin: 10px 0px;
}

.raceClassSelect {
  background-color: rgb(100, 30, 30);
  display: table-cell;
  padding-top: 8px;
  width: 120px;
  height: 40px;
  margin: 1px;
  border: 0px solid black;
  border-radius: 3px;
  box-shadow: 0px 0px 2px 0px black
}

.raceClassSelect:hover {
  background-color: #158CB8;
}

.raceClassSelect.selected {
  background-color: #199089;
}

.raceClassSelect.selected:hover {
  background-color: #6A9872;
}
